body {
    font-family: 'Open Sans', sans-serif;
    background-image: url('dog2.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    margin: 50px;
    color: white;
}

b {
    color: #333;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
}

td {
    padding: 10px;
}

input[type="text"] {
    padding: 8px;
    width: 150px;
}

input[type="button"] {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #45a049;
}


@media only screen and (min-width: 600px) {
    body {
        padding: 50px;
    }
}
